#login{width:210px; float:left; background-color: white; padding:5px; margin-top: 5px; }
#registration{width:760px; float:left;margin-left:10px;background-color: white; padding:5px 5px 20px 5px;margin-top: 5px;}
table{ padding: 5px 10px 5px 10px;}
legend{text-align: center;}
fieldset{border-radius: 8px;}
/* 
    Created on : Nov 28, 2014, 8:49:51 PM
    Author     : RAVI
*/

